<footer class="site-footer">

  <div class="site-copy"> {{ site.time | date: '%Y' }}<span class="site-author">{{ site.author }}</span></div>

  <div class="site-links">
    <div class="site-contact">
      <ul>
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}">Contact</a></li>
        {% endif %}

        {% if site.github_username %}
        <li><a target="_blank" rel="external" href="https://github.com/{{ site.github_username }}">Github</a></li>
        {% endif %}

        {% if site.twitter_username %}
        <li><a target="_blank" rel="external" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="site-source">
      <ul>
        <li><a target="_blank" href="https://github.com/{{ site.github_username }}/{{ site.github_source }}">Source</a></li>
      </ul>
    </div>
  </div>

</footer>
<!-- site-footer -->

{% if page.syntax %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
{% endif %}

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% if site.google_analytics %}

{% endif %}
